* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.pepe{
  border: 1px solid red;
}

.container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.middle {
    width: 80%;
    margin: auto;
    margin-top: 6%;
}

nav a:not(:first-child) {
    margin-left: 5px;
}

.main {
    overflow: scroll;
}

.main img.author {
    height: 40px;
    width: 40px;
    border-radius: 20px;
}

.main article {
    height: 200px;
    margin-top: 20px;
}

.main .subtitle {
    margin-top: 6px;
    color: gray;
}

.main .title {
    width: 100%;
}

.main .post {
    font-size: 20px;
    margin-top: 14px;
}

.main h1 {
    font-size: 35px;
    float: left;
    font-weight: bold;
    width: calc(100% - 40px);
}


.main {
    width: 67%;
    float: left;
    height: 100%;
}
